@use 'base';
@use 'style';

body { 
    color: base.$red;
    background-color: base.$bg-new;
    
    article section{
        border: none;
        box-shadow: none;

        pre{
            background: base.$white;
            border: none;
        }
    }

    h1, h2, h6 {
        color: base.$red;
    }
}
